@import "tailwindcss";

@font-face {
  font-family: "Invincible";
  /* Update the extension and the format tag */
  src: url("./assets/fonts/ShadowofXizor.woff2") format("woff2"); 
}
@font-face {
  font-family: "Futura";
  /* Update the extension and the format tag */
  src: url("./assets/fonts/FuturaCyrillicMedium.woff2") format("woff2"); 
}
@theme {
  --font-invincible: "Invincible", sans-serif;
  --font-futura: "Futura", sans-serif;
  --animate-zoom: zoom-in 5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  --animate-fade: fade-in 3s ease-out forwards;
}
@keyframes zoom-in {
  0% {
    transform: scale(0.5); /* Start at 50% size */
    opacity: 0;            /* Start invisible */
  }
  100% {
    transform: scale(1);   /* End at 100% size */
    opacity: 1;            /* End fully visible */
  }
}

/* 3. Define the exact movement for the fade */
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}